.admin-portal {
  padding-top: 10rem;
  box-sizing: border-box;
}

form {
  text-align: center;
  vertical-align: middle;
}

input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 50%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
  color: #ccc;
}
