.row {
  place-items: center;
  display: grid;
  width: 70%;
  padding-top: 6rem;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 0;

  @media (max-width: 2000px) {
    width: 80%;
  }

  @media (max-width: 500px) {
    flex-direction: row;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

* {
  background-color: black;
}
