.main {
  height: 100%;
  position: relative;
}

.images_container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 15px;
  margin-top: 5rem;

  @media (max-width: 800px) {
    flex-direction: row;
    row-gap: 50px;
  }
}
